﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @foreach (var item in Model)
    {
    <li>
        <a href="https://localhost:44389/Publi/Detalle?id=@item.id_Publicacion">@item.titulo@item.autor@item.fecha_P</a>
        <br />
    </li>
     }
</div>

