﻿<h1>
    @Model.Post.titulo
</h1>

<h3>Comentarios</h3>
<ul>
    @foreach (var item in Model.Comentarios)
    {
        <li>@item.Detalle@item.fecha_C</li>
    }
</ul>


<h3>Añade un comentario</h3>

<form method="post" action="https://localhost:44389//Publi/addcomentario?id_Publicacion=@Model.Post.id_Publicacion">

    <textarea rows="10" cols="100" name="Detalle">
    </textarea>

    <button>Enviar</button>
</form>